extends layout

block content
  h1 Welcome to my Foursquare App
  if user
    p Welcome #{user.firstName} #{user.lastName}! #[a(href="/users/"+user.id) View your profile]
    br
    p Or, #[a(href="/users") view all users]
    br
    br
    p #[a(href="/logout") Logout]
  else
    p #[a(href="/login") Login]